.quiz-container {
    background-color: #00afb9;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
    text-align: center;
    color: #333;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-header h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.timer {
    font-size: 1.2rem;
    color: #f21b3f;
    font-weight: 600;
}

.question-text {
    font-size: 1.2rem;
    margin: 20px 0;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.option-btn {
    background-color: #fed9b7;
    color: #bf0603;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform .2s ease, box-shadow .2s ease;
}

.option-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
}

.skip-btn {
    background: #bf0603;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .3s ease;
}

.skip-btn:hover {
    background: #d13c39;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.result h2 {
    color: #bf0603;
}

.result p {
    font-weight: 500;
    color: #ffeedd;
}

.restart-btn {
    background: #011627;
    color: #fdfffc;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .3s ease;
}

.restart-btn:hover {
    background: #0a5089;
}

.error-message {
    color: red;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px;
}